@import '../utilities/variables.scss';

.mail-container{
    padding-left: 16px;
}

.mail{
    writing-mode: vertical-lr;
    position: absolute;
    bottom: 0%;
    font-family:  $font-family;
    padding-bottom: 128px;
    margin-bottom: 4px;
}

.vertical-bottom {
    border-left: 4px solid $blue-color;
    height: 128px;
    position:absolute;
    bottom: 0%;
    margin-left: 6px;
}

@mixin mail($font-Size, $letterSpace) {
    font-size: $font-Size;
    letter-spacing: $letterSpace;
}

@media (max-width: 720px){
    .mail{
        @include mail($small-details-font-size, $small-details-line-space);
    }
    .vertical-bottom{
        border-left: 2px solid $blue-color;
    }
    .copy-btn{
        padding-bottom: 204px;
    }
    .material-icons{
        font-size: 20px;
    }
}

@media only screen and (min-width: 721px){
    .mail{
        @include mail($medium-details-font-size, $medium-details-line-space)
    }
    .vertical-bottom{
        border-left: 2px solid $blue-color;
    }
    .copy-btn{
        padding-bottom: 224px;
    }
}

@media only screen and (min-width: 1025px){
    .mail{
        @include mail($large-details-font-size, $large-details-line-space);
        cursor : pointer;
    }
    .vertical-bottom{
        border-left: 4px solid $blue-color;
    }
    .copy-btn{
        padding-bottom: 244px;
    }
}

.copy-btn{
    color: $safron-color;
    background-color: white;
    position: absolute;
    bottom: 0%;
    left: 0.5%;
    border: 0px;
}

.copy{
    display: none;
}

.mail-container:hover{
    .mail{
        display: none;
    }
    .copy{
        display: block;
    }
}