.mail{
    writing-mode: vertical-lr;
    position: absolute;
    bottom: 0px;
    font-size: 20px;
    letter-spacing: -0.02em;
    line-height: 1.5;
    font-family:  -apple-system,BlinkMacSystemFont,monospace;
}