<div class="row content" (wheel)="onMouseWheel($event)">
    <div class="col-lg-1 col-md-12 col-xs-12"></div>
    <div class="col-lg-2 col-md-12 col-xs-12">
        <h2>About Me</h2>
    </div>
    <div class="col-lg-5 col-md-12 col-xs-12">
        <div>
            <p>
                Hi, my name is Yashwanth. I enjoy creating things which live on internet.<br>
                Here are a few technologies I've been working with recently:
            </p>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <span class="arrow">» </span> <span class="skill-text">Angular 7+</span><br>
                    <span class="arrow">» </span> <span class="skill-text">Typescript</span><br>
                    <span class="arrow">» </span> <span class="skill-text">RabbitMQ </span>
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <span class="arrow">» </span> <span class="skill-text">Nodejs</span><br>
                    <span class="arrow">» </span> <span class="skill-text">PostgreSQL</span> <br>
                    <span class="arrow">» </span> <span class="skill-text">Docker</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-12 col-xs-12 pic-container">
        <div class="pic-cover"></div>
        <img class="pic" src="assets/pic.png" alt="">
        <div class="pic-frame"></div>
    </div>
</div>