@import '../utilities/variables.scss';

*{
    font-family: Helvetica;
}

.title{
    margin: -16px 16px 0;
    background-color: white;
    width: fit-content;
}

.skills{
    padding: 0px;
}

.header{
    color: $safron-color;   
}

.details{
    font-family:  $font-family;
    text-align: justify;
}

.arrow{
    color: $blue-color;
}

.skill-text{
    font-family:  $font-family;
    padding-right:5em;
}

.company{
    font-family:  $font-family;
    color: #009999 !important;
    text-decoration: none;
}

@mixin header($fontSize, $textAlign) {
    font-size: $fontSize;
    text-align: $textAlign;
}

@mixin headerOnHover($width, $padding) {
    width: $width;
    background-color: $safron-color;
    color: white;
    padding: $padding;
    border-radius: 8px;
}

@mixin details($fontSize, $letterSpace, $lineHeight) {
    font-size: $fontSize;
    letter-spacing: $letterSpace;
    line-height: $lineHeight;
}

@mixin arrow($fontSize, $fontWeight) {
    font-size: $fontSize;
    font-weight: $fontWeight;
}

@media (max-width: 720px) {
    .title{
        height: 40px;
    }
    .header{
        @include header($small-header-font-size, center);
        height: 36px;
        margin: 0px;
    }
    .header:hover{
        @include headerOnHover(100%, 4px);
    }
    .details{
        @include details($small-details-font-size, $small-details-line-space, $small-details-line-height)
    }
    .content{
        transform: translate(0px, 0%);
        margin: 8px;
        border: 1px solid $safron-color;
        border-radius: 8px;
    }
    .arrow{
        @include arrow(14px, 400);
    }
    .skill-text{
        @include details($small-details-font-size, $small-details-line-space, $small-details-line-height)
    }
    .pic-container{
        margin-top: 4px;
    }
    .pic-frame{
        border: solid $safron-color 1px;
        border-radius: 4px;
    }
}

@media only screen and (min-width: 721px) {
    .title{
        height: 48px;
    }
    .header{
        @include header($medium-header-font-size, center);
    }
    .header:hover{
        @include headerOnHover(fit-content, 8px);
    }
    .details{
        @include details($medium-details-font-size, $medium-details-line-space, $medium-details-line-height)
    }
    .content{
        transform: translate(0px, 16%);
        border: 2px solid $safron-color;
        margin: 8px;
        border-radius: 8px;
    }
    .arrow{
        @include arrow(18px, 500);
    }
    .skill-text{
        @include details($medium-details-font-size, $medium-details-line-space, $medium-details-line-height)
    }
    .pic-container{
        margin-top: 8px;
    }
    .pic-frame{
        border: solid $safron-color 2px;
        border-radius: 8px;
    }
}

@media only screen and (min-width: 1221px) {
    .title{
        height: 64px;
    }
    .header{
        @include header($large-header-font-size, left);
    }
    .header:hover{
        @include headerOnHover(fit-content, 8px);
    }
    .details{
        @include details($large-details-font-size, $large-details-line-space, $large-details-line-height)
    }
    .content{
        transform: translate(0px, 25%);
        border: 2px solid $safron-color;
        width: calc(150vh);
        border-radius: 16px;
    }
    .arrow{
        @include arrow(25px, 600);
    }
    .skill-text{
        @include details($large-details-font-size, $large-details-line-space, $large-details-line-height)
    }
    .pic-frame{
        border: solid $safron-color 2px;
        border-radius: 16px;
    }
}

$pic-height: calc(24vh);
$pic-width: calc(28vh);

.row{
    margin: 0px;
}

.pic{
    position: absolute;
    width: $pic-height;
    height: $pic-width;
    opacity: 50%;
    top: 0;
}

.pic-container{
    position: relative;
    height: calc(36vh);
}

.pic-cover{
    background: #d9f7ff;
    width: $pic-height;
    height: $pic-width;
}

.pic-container:hover{
    .pic-cover{
        background: none;
        transition-delay: 0.25s;
        -webkit-transition-delay: 0.25s;
    }
    .pic-frame{
        top: 24px;
        left: 36px;
        transition-delay: 0.25s;
        -webkit-transition-delay: 0.25s;
        border: solid #6cdfff 2px;
    }
    .pic{
        background: white;
        opacity: 100%;
        transition-delay: 0.55s;
        -webkit-transition-delay: 0.25s;
    }
}

.pic-frame{
    width: $pic-height;
    height: $pic-width;
    position: absolute;
    top: 36px;
    left: 48px;
    background: white;
    z-index: -1;
}