<div class="row content">
    <div class="col-lg-3 col-md-12 col-xs-12 title">
        <h2 class="header">About Me</h2>
    </div>
    <div class="col-lg-6 col-md-12 col-xs-12 details-container">
        <div>
            <p class="details">
                Hi, my name is Yashwanth. I enjoy creating things that live on the internet.
                I have been developing and designing software since 2018, the period
                during which I have worked in different environments. <br>
                Fast-forward to today, I've had the privilege of working on Electric vehicle 
                charging software in <a class="company" href="https://www.siemens.com/global/en.html" target="_blank">SIEMENS</a>.
                Here I develop features end to end from design to testing for the different MICRO SERVICE.
                <br>
                When I'm not in front of a computer screen, I'm probably trekking or busy playing cricket.
                <br><br>
                Here are a few technologies I've been working with recently:
            </p>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <span class="arrow">» </span> <span class="skill-text">Angular 7+</span><br>
                    <span class="arrow">» </span> <span class="skill-text">Typescript</span><br>
                    <span class="arrow">» </span> <span class="skill-text">RabbitMQ </span>
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <span class="arrow">» </span> <span class="skill-text">Nodejs</span><br>
                    <span class="arrow">» </span> <span class="skill-text">PostgreSQL</span> <br>
                    <span class="arrow">» </span> <span class="skill-text">Docker</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-12 col-xs-12 pic-container">
        <div class="pic-cover"></div>
        <img class="pic" src="assets/pic.png" alt="">
        <div class="pic-frame"></div>
    </div>
</div>