@import '../utilities/variables.scss';

*{
    font-family: Helvetica;
}

.header{
    color: $safron-color;   
}

.details{
    font-family:  $font-family;
}

.arrow{
    color: $blue-color;
}

.skill-text{
    font-family:  $font-family;
    padding-right:5em;
}

@mixin header($fontSize, $textAlign) {
    font-size: $fontSize;
    text-align: $textAlign;
}

@mixin headerOnHover($boder, $padBottom, $width) {
    border-bottom: $boder;
    padding-bottom: $padBottom;
    width: $width;
}

@mixin details($fontSize, $letterSpace, $lineHeight) {
    font-size: $fontSize;
    letter-spacing: $letterSpace;
    line-height: $lineHeight;
}

@mixin arrow($fontSize, $fontWeight) {
    font-size: $fontSize;
    font-weight: $fontWeight;
}

@media (max-width: 720px) {
    .header{
        @include header($small-header-font-size, center);
    }
    .header:hover{
        @include headerOnHover($safron-color 1px solid, 0px, 100%);
    }
    .details{
        @include details($small-details-font-size, $small-details-line-space, $small-details-line-height)
    }
    .content{
        transform: translate(0px, 0%);
        margin: 4px;
    }
    .arrow{
        @include arrow(14px, 400);
    }
    .skill-text{
        @include details($small-details-font-size, $small-details-line-space, $small-details-line-height)
    }
    .pic-container{
        margin-top: 8px;
        margin-left: 16px;
    }
}

@media only screen and (min-width: 721px) {
    .header{
        @include header($medium-header-font-size, center);
    }
    .details{
        @include details($medium-details-font-size, $medium-details-line-space, $medium-details-line-height)
    }
    .content{
        transform: translate(0px, 0%);
    }
    .arrow{
        @include arrow(18px, 500);
    }
    .skill-text{
        @include details($medium-details-font-size, $medium-details-line-space, $medium-details-line-height)
    }
    .pic-container{
        margin-top: 8px;
    }
}

@media only screen and (min-width: 1025px) {
    .header{
        @include header($large-header-font-size, left);
    }
    .header:hover{
        @include headerOnHover($safron-color 2px solid, 8px, fit-content);
    }
    .details{
        @include details($large-details-font-size, $large-details-line-space, $large-details-line-height)
    }
    .content{
        transform: translate(0px, 25%);
    }
    .arrow{
        @include arrow(25px, 600);
    }
    .skill-text{
        @include details($large-details-font-size, $large-details-line-space, $large-details-line-height)
    }
}

$pic-height: calc(24vh);
$pic-width: calc(28vh);

.row{
    margin: 0px;
}

.pic{
    position: absolute;
    width: $pic-height;
    height: $pic-width;
    opacity: 50%;
    top: 0;
}

.pic-container{
    position: relative;
}

.pic-cover{
    background: #d9f7ff;
    width: $pic-height;
    height: $pic-width;
}

.pic-container:hover{
    .pic-cover{
        background: none;
        transition-delay: 0.25s;
        -webkit-transition-delay: 0.25s;
    }
    .pic-frame{
        top: 24px;
        left: 36px;
        transition-delay: 0.25s;
        -webkit-transition-delay: 0.25s;
        border: solid #6cdfff 2px;
    }
    .pic{
        background: white;
        opacity: 100%;
        transition-delay: 0.55s;
        -webkit-transition-delay: 0.25s;
    }
}

.pic-frame{
    border: solid $safron-color 2px;
    width: $pic-height;
    height: $pic-width;
    position: absolute;
    top: 36px;
    left: 48px;
    background: white;
    z-index: -1;
}

