<div class="row content">
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
        <h2>About Me</h2>
    </div>
    <div class="col-lg-6">
        <p>
            Hi, my name is Yashwanth. I enjoy creating things which live on internet.
            <br>
            Here are a few technologies I've been working with recently:
            <br> <br>
            <span class="arrow">» </span> <span class="skill-text">Angular 7+</span> 
            <span class="arrow">» </span> <span class="skill-text">Nodejs</span><br>
            <span class="arrow">» </span> <span class="skill-text" style="padding-right:5.15em">Typescript</span>  
            <span class="arrow">» </span> <span class="skill-text">PostgreSQL</span> <br>
            <span class="arrow">» </span> <span class="skill-text" style="padding-right:5.75em">RabbitMQ </span>
            <span class="arrow">» </span> <span class="skill-text">Docker</span>
        </p>
    </div>
    <div class="col-lg-3 pic-container">
        <img class="pic" src="assets/pic.png" alt="">
        <div class="pic-frame"></div>
    </div>
</div>