@import '../utilities/variables.scss';

*{
    font-family: $default-font;
}

.row{
    margin: 0px;
}

h2{
    color: $safron-color;
}

h3{
    color: $blue-color;
    font-family:  $font-family;
}

h4{
    font-family:  $font-family;
}

.time-period{
    font-family:  $font-family;
}

.company{
    display: flex;
    flex-flow: column;
}

.arrow{
    color: $blue-color;
}

span{
    font-family:  $font-family;
}

.details{
    text-align: justify;
}

@mixin span($fontSize, $letterSpace, $lineHeight) {
    font-size: $fontSize;
    letter-spacing: $letterSpace;
    line-height: $lineHeight;
}


@media (max-width: 720px){
    .content{
        transform: none;
        padding-top: 8px;
        padding-left: 16px;
    }
    .details{
        padding-left: 0px;
    }
    h2{
        font-size: $small-header-font-size;
        text-align: center;
        height: 36px;
        margin: 0px;
    }
    h2:hover{
        border-bottom: $safron-color 1px solid;
    }
    h3{
        font-size: 28px;
        margin-bottom: 4px;
        text-align: center;
    }
    h4{
        font-size: 24px;
        margin-bottom: 4px;
    }
    .company{
        align-items: center;
    }
    .time-period{
        font-size: 16px;
        margin-bottom: 4px;
        font-weight: 600;
    }
    .arrow{
        font-size: $small-details-font-size;
        font-weight: 400;
    }
    span{
        @include span($small-details-font-size, $small-details-line-space, $small-details-line-height)
    }
}

@media only screen and (min-width: 721px){
    .content{
        transform: none;
        padding-top: 8px;
        padding-left: 16px;
    }
    h2{
        font-size: $medium-header-font-size;
        text-align: center;
    }
    h3{
        font-size: 28px;
    }
    h4{
        font-size: 24px;
    }
    .time-period{
        font-size: 16px;
        padding: 4px;
        padding-left: 16px;
        font-weight: 600;
    }
    .arrow{
        font-size: $medium-details-font-size;
        font-weight: 500;
    }
    span{
        @include span($medium-details-font-size, $medium-details-line-space, $medium-details-line-height)
    }
}

@media only screen and (min-width: 1025px){
    .content{
        transform: translate(0px, 50%);
    }
    h2{
        font-size: $large-header-font-size;
        text-align: left;
    }
    h2:hover{
        border-bottom: $safron-color 2px solid;
        padding-bottom: 12px;
        width: fit-content;
    }
    h3{
        font-size: 32px;
    }
    h4{
        font-size: 28px;
    }
    .time-period{
        font-size: 20px;
        padding: 4px;
        font-weight: 600;
    }
    .arrow{
        font-size: $large-details-font-size;
        font-weight: 600;
    }
    span{
        @include span($large-details-font-size, $large-details-line-space, $large-details-line-height)
    }
}