@import '../utilities/variables.scss';

*{
    font-family: $default-font;
}

.exp-container{
    height: calc(90vh);
}

.row{
    margin: 0px;
}

.title{
    margin: -16px 16px 0;
    background-color: white;
    width: fit-content;
}

h2{
    color: $safron-color;
}

.designation{
    color: $name-color;
}

.company{
    padding-left: 8px;
    color: $blue-color;
    font-weight: 400;
    font-family:  $default-font;
}

.time-period{
    font-family:  $font-family;
}

.arrow{
    color: $blue-color;
}

li{
    font-family:  $font-family;
}

.details{
    text-align: justify;
}

ul {
    position: relative;
    list-style: none;
}

li::before {
    content: '⮚';
    position: absolute;
    left: 0;
    color: $blue-color;
    font-weight: 750;
}

@mixin points($fontSize, $letterSpace, $lineHeight) {
    font-size: $fontSize;
    letter-spacing: $letterSpace;
    line-height: $lineHeight;
}


@media (max-width: 720px){
    .exp-container{
        padding-top: 80px;
    }
    .content{
        margin: 8px;
        border: 1px solid $safron-color;
        border-radius: 8px;
    }
    .title{
        height: 32px;
    }
    .at{
        display: none;
    }
    .details{
        padding: 16px;
    }
    h2{
        font-size: $small-header-font-size;
        text-align: center;
        height: 36px;
        margin: 0px;
    }
    h2:hover{
        background-color: $safron-color;
        color: white;
        padding: 4px;
        border-radius: 8px;
    }
    .designation{
        font-size: 28px;
        margin-bottom: 4px;
        text-align: center;
        display: flex;
        flex-flow: column;
    }
    .company{
        font-size: 24px;
        margin-bottom: 4px;
        padding-top: 8px;
    }
    .time-period{
        font-size: 16px;
        margin-bottom: 4px;
        font-weight: 600;
    }
    ul{
        padding: 20px;
        padding-top: 4px;
    }
    .points{
        @include points($small-details-font-size, $small-details-line-space, $small-details-line-height);
    }
}

@media only screen and (min-width: 721px){
    .exp-container{
        padding-top: 64px;
        height: calc(84vh);
    }
    .content{
        margin: 8px;
        border: 2px solid $safron-color;
        border-radius: 8px;
    }
    .at{
        display: block;
    }
    .details{
        padding: 24px;
    }
    .title{
        height: 40px;
    }
    h2{
        font-size: $medium-header-font-size;
        text-align: center;
    }
    h2:hover{
        width: fit-content;
        background-color: $safron-color;
        color: white;
        padding: 4px;
        border-radius: 8px;
    }
    .designation{
        font-size: 28px;
        margin-bottom: 4px;
    }
    .company{
        font-size: 24px;
    }
    .time-period{
        font-size: 18px;
        padding: 4px;
        font-weight: 550;
    }
    .arrow{
        font-size: $medium-details-font-size;
        font-weight: 500;
    }
    .points{
        @include points($medium-details-font-size, $medium-details-line-space, $medium-details-line-height)
    }
}

@media only screen and (min-width: 1320px){
    .exp-container{
        padding-top: 120px;
    }
    .content{
        margin: 8px;
        border: 2px solid $safron-color;
        border-radius: 8px;
        width: calc(120vh);
    }
    .title{
        height: 56px;
    }
    .at{
        display: block;
    }
    .details{
        padding: 16px;
        padding-top: 8px;
    }
    h2{
        font-size: $large-header-font-size;
        text-align: left;
    }
    h2:hover{
        width: fit-content;
        background-color: $safron-color;
        color: white;
        padding: 8px;
        border-radius: 8px;
    }
    .designation{
        font-size: 32px;
        margin-bottom: 4px;
    }
    .company{
        font-size: 28px;
    }
    .time-period{
        font-size: 20px;
        padding-top: 8px;
        font-weight: 600;
    }
    .arrow{
        font-size: $large-details-font-size;
        font-weight: 500;
    }
    .points{
        @include points($large-details-font-size, $large-details-line-space, $large-details-line-height)
    }
}