<div class="exp-container">
    <div class="content">
        <div class="title">
            <h2>Experience</h2>
        </div>
        <div class="details">
            <div class="sub-title">
                <h3 class="designation">Softwer Engineer<span class="company">@SIEMENS</span></h3> 
            </div>
            <h5 class="time-period">July 2018 - Present</h5>
            <div class="points">
                <ul>
                    <li>
                        Developing features end-to-end, including new REST API, handling message in the message
                        broker to frontend implementation.
                    </li>
                    <li>
                        Won Bravo Award for automating deployment process using shell scripts which reduced 70% of 
                        deployment time.
                    </li>
                    <li>
                        Assessing deployment activity production release to ensure the timely delivery of project 
                        to the customer.
                    </li>
                    <li>
                        Developed a tool to run Database migrations on different environment which reduced mannual effort and
                        time by 10 times.
                    </li>
                    <li>
                        Modularized the existing code by modifying the architecture using design principles.
                    </li>
                    <li>
                        Developed reusable front-end components using angular.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>