<div class="row content">
    <div class="col-lg-2">
        <h2>Experience</h2>
    </div>
    <div class="col-lg-6 details">
        <h3>Softwer Engineer</h3>
        <div class="company">
            <h4>Siemens</h4> 
            <h5 class="time-period">July 2018 - Present</h5>
        </div>
        <span class="arrow">» </span> 
        <span>
            Developing features end-to-end, including new REST API, handling message in the message
            broker to frontend implementation
        </span> <br>
        <span class="arrow">» </span> 
        <span>
            Won Bravo Award for automating deployment process using shell scripts which reduced 70% of deployment time
        </span> <br>
        <span class="arrow">» </span>
        <span>
            Assessing deployment activity production release to ensure the timely delivery of project to the customer
        </span> <br>
        <span class="arrow">» </span> 
        <span>
            Developed reusable front-end components using angular
        </span> <br>
        <span class="arrow">» </span> 
        <span>
            Developed a tool to run Database migrations on different environment which reduced mannual effort and
            time by 10 times
        </span> <br>
        <span class="arrow">» </span> 
        <span>
            Modularized the existing code by modifying the architecture using design principles.
        </span>
    </div>
</div>