<div class="row content">
    <div class="col-lg-2">
        <h2>Experience</h2>
    </div>
    <div class="col-lg-10">
        <h3>Siemens Technologies</h3>        
        <h4>Electronic Vehicle Charging</h4>
        <span class="arrow">» </span> 
        <span>
            Developed reusable front-end components using angular
        </span> <br>
        <span class="arrow">» </span> 
        <span>
            Developing features end-to-end, including new REST API, handling message in the message
            broker to frontend implementation
        </span> <br>
        <span class="arrow">» </span> 
        <span>
            Automated deployment process using shell scripts, reducing mannual effort and error occurrence
        </span> <br>
        <span class="arrow">» </span> 
        <span>
            Modularized the existing code by modifying the architecture using design principles.
        </span>
    </div>
</div>