@import '../utilities/variables.scss';

*{
    font-family: $default-font;
}

.header{
    color: $safron-color;
}

.title{
    margin: -16px 16px 0;
    background-color: white;
    width: fit-content;
}

.content{
    text-align: center;
    padding: 8px;
}

.note{
    font-family:  $font-family;
}

.mat-stroked-button{
    color: white !important;
    background-color: $blue-color !important;
}

.action{
    display: flex;
    justify-content: center;
}

.thanks-msg{
    text-align: center;
} 

@mixin content($fontSize, $letterSpace, $lineHeight) {
    font-size: $fontSize;
    letter-spacing: $letterSpace;
    line-height: $lineHeight;
}

@media (max-width: 720px) {
    .title{
        height: 40px;
    }
    .header{
        font-size: $small-header-font-size;
        text-align: center;
        height: 36px;
        margin: 0px;
    }
    .header:hover{
        background-color: $safron-color;
        color: white;
        padding: 4px;
        border-radius: 8px;
    }
    .outer-container{
        transform: translate(0px, 0%);
        margin: 8px;
        border: 1px solid $safron-color;
        border-radius: 8px;
    }
    .content{
        @include content($small-details-font-size, $small-details-line-space, $small-details-line-height)
    }
    mat-form-field{
        width: 228px;
    }
    .btn{
        font-weight: 400;
        height: 32px;
    }
    .thanks-msg{
        @include content($small-details-font-size, $small-details-line-space, $small-details-line-height);
        color: $safron-color
    }
    .footer{
        font-size: 12px;
        font-weight: 400;
    }
}

@media only screen and (min-width: 721px){
    .header{
        font-size: $medium-header-font-size;
        text-align: center;
    }
    .title{
        height: 48px;
    }
    .header:hover{
        background-color: $safron-color;
        color: white;
        padding: 8px;
        border-radius: 8px;
    }
    .outer-container{
        transform: translate(0px, 16%);
        border: 2px solid $safron-color;
        margin: 8px;
        border-radius: 8px;
    }
    .content{
        @include content($medium-details-font-size, $medium-details-line-space, $medium-details-line-height)
    }
    mat-form-field{
        width: 480px;
    }
    .btn{
        font-weight: 500;
        height: 40px;
    }
    .thanks-msg{
        @include content($medium-details-font-size, $medium-details-line-space, $medium-details-line-height);
        color: $safron-color;
    }
    .footer{
        font-size: 16px;
        font-weight: 500;
    }
}

@media only screen and (min-width: 1225px){
    .header{
        font-size: $large-header-font-size;
        text-align: left;
    }
    .title{
        height: 64px;
    }
    .header:hover{
        background-color: $safron-color;
        color: white;
        padding: 8px;
        border-radius: 8px;
    }
    .outer-container{
        transform: translate(64px, 25%);
        border: 2px solid $safron-color;
        width: calc(80vh);
        border-radius: 16px;
    }
    .content{
        @include content($large-details-font-size, $large-details-line-space, $large-details-line-height);
    }
    mat-form-field{
        width: 520px;
    }
    .action{
        padding-bottom: 16px;
    }
    .btn{
        font-weight: 600;
        height: 48px;
    }
    .thanks-msg{
        @include content($large-details-font-size, $large-details-line-space, $large-details-line-height);
        color: $safron-color;
    }
    .footer{
        font-size: 20px;
        font-weight: 500;
    }
}

.footer{
    position: absolute;
    bottom: 0%;
    right: 0%;
    text-align: center;
    font-family: $font-family;
    padding-bottom: 4px;
    padding-right: 4px;
}