$name-color: #141e30;
$blue-color: #80e5ff;
$safron-color: #f59907;

$font-family: -apple-system,BlinkMacSystemFont,monospace;
$default-font: Helvetica;

$large-header-font-size: 48px;
$medium-header-font-size: 40px;
$small-header-font-size: 32px;

$large-details-font-size: 21px;
$medium-details-font-size: 18px;
$small-details-font-size: 14px;

$large-details-line-space: -0.02em;
$medium-details-line-space: -0.01em;
$small-details-line-space: 0.01em;

$large-details-line-height: 1.25;
$medium-details-line-height: 1.5;
$small-details-line-height: 1.3;