@import '../utilities/variables.scss';

.nav-content{
    text-align: end;
    padding-right: 16px;
    font-size: 16px;
    letter-spacing: -0.02em;
    line-height: 1.5;
    font-family:  -apple-system,BlinkMacSystemFont,monospace;
    padding: 4px;
    border-bottom: aliceblue 0.5px groove;
}

.home{
    float: left;
    font-size: 32px;
    font-weight: 600;
    padding-left: 8px;
    padding-bottom: 32px;
    color: $safron-color;
}

.route{
    margin-left: 8px;
    margin-right: 8px;
}

.route:hover{
    color:$blue-color;
}

.mat-stroked-button{
    color: white !important;
    background-color: $blue-color !important;
    background: white;
  }

.resume-btn{
    margin-left: 8px;
    margin-right: 16px;
}

a{
    color: #2c2c2c !important;
}
