.nav-content{
    text-align: end;
    padding-right: 16px;
    font-size: 16px;
    letter-spacing: -0.02em;
    line-height: 1.5;
    font-family:  -apple-system,BlinkMacSystemFont,monospace;
    padding: 4px;
    border-bottom: aliceblue 0.5px groove;
    box-shadow: aliceblue 2px ;
}

.home{
    float: left;
    font-size: 24px;
    font-weight: 600;
    padding-left: 16px;
    padding-bottom: 32px;
}

hr{
    margin: 0px;
    margin-top: 4px;
    border-top: 1px solid #d5f7fd;
}

.route{
    margin-left: 8px;
    margin-right: 8px;
}

.route:hover{
    color:#80e5ff;
}

.mat-stroked-button{
    color: #80e5ff !important;
    background: white;
  }

.resume-btn{
    margin-left: 8px;
    margin-right: 8px;
}

a{
    color: #2c2c2c !important;
}
