@import '../utilities/variables.scss';

.nav-content{
    text-align: end;
    padding-right: 16px;
    font-size: 16px;
    letter-spacing: -0.02em;
    line-height: 1.5;
    font-family:  -apple-system,BlinkMacSystemFont,monospace;
    padding: 4px;
    border-bottom: aliceblue 0.5px groove;
}

.home{
    float: left;
    font-size: 32px;
    font-weight: 600;
    padding-left: 8px;
    padding-bottom: 32px;
    color: #2c2c2c;
}

.route{
    margin-left: 8px;
    margin-right: 8px;
}

.route:hover{
    color:$blue-color;
}

.mat-stroked-button{
    color: white !important;
    background-color: $blue-color !important;
    background: white;
}

.resume-btn{
    margin-left: 8px;
    margin-right: 16px;
}

a{
    color: #2c2c2c !important;
    text-decoration: none;
}

@media (max-width: 720px){
    .nav-content{
        display: none;
    }
}

@media only screen and (min-width: 721px){
    .mobile-nav{
        display: none;
    }
}

.mobile-nav{
    float: right;
    padding-right: 16px;
    padding-top: 16px;
}

.mobile-nav-btn{
    color: #2c2c2c;
    background-color: white;
    border: 1px solid $safron-color;
    border-radius: 20px;
    display: flex;
}

.mobile-nav-container{
    display: flex;
    flex-flow: column;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    height: calc(36vh);
    width: calc(32vh);
}

.mobile-route-div{
    margin-top: 12px;
    margin-bottom: 14px;
}

.mobile-route:hover{
    color:$blue-color;
    margin: 1px;
}