@import '../utilities/variables.scss';

*{
    font-family: $default-font;
}

@mixin introContainer($pad, $trans, $textAlign) {
  padding: $pad;
  transform: $trans;
  text-align: $textAlign;
}

@mixin intro($fontSize, $color) {
  font-size: $fontSize;
  color: $color;
}

@mixin name($fontSize, $lineHeight, $spacing, $color, $margin) {
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $spacing;
  color: $color;
  margin: $margin;
}

@mixin job($color, $fontSize, $padLeft, $padBottom, $margin) {
  color: $color,;
  font-size: $fontSize;
  padding-left: $padLeft;
  padding-bottom: $padBottom;
  margin: $margin;
}

@mixin summary($fontSize, $letterSpacing, $lineHeight, $font) {
  font-size: $fontSize;
  letter-spacing: $letterSpacing;
  line-height: $lineHeight;
  font-family: $font;
}

@mixin summaryContainer($width, $padLeft) {
  width: $width;
  padding-left: $padLeft;
}

@media (max-width: 720px) {
  .intro-container{
    @include introContainer(8px, translate(0px, 50%), center);
  }
  .intro{
    @include intro(16px, $blue-color);
    margin: 0px;
  }
  .name{
    @include name(48px, 1.06, -0.02em, $name-color, 0px)
  }
  .job{
    @include job($safron-color, 24px, 8px, 4px, 0px)
  }
  .summary{
    @include summary(12px, -0.02em, 1.5, $font-family)
  }
  .summary-container{
    @include summaryContainer(100%, 8px)
  }
}

@media only screen and (min-width: 721px) {
  .intro-container{
    @include introContainer(8px, translate(0px, 75%), center);
  }
  .intro{
    @include intro(25px, $blue-color)
  }
  .name{
    @include name(75px, 1.0, -0.01em, $name-color, 0px)
  }
  .job{
    @include job($safron-color, 36px, 8px, 16px, 0px)
  }
  .summary{
    @include summary(16px, -0.02em, 1.5, $font-family)
  }
  .summary-container{
    @include summaryContainer(100%, 8px)
  }
}

@media only screen and (min-width: 1025px) {
  .intro-container{
    @include introContainer(8px, translate(0px, 75%), left);
  }
  .intro{
    @include intro(35px, $blue-color)
  }
  .name{
    @include name(100px, 1.06, -0.02em, $name-color, 0px)
  }
  .job{
    @include job($safron-color, 48px, 8px, 16px, 0px)
  }
  .summary{
    @include summary(20px, -0.02em, 1.5, $font-family)
  }
  .summary-container{
    @include summaryContainer(632px, 8px)
  }
}

.wave { 
    transform-origin: 70% 70%;  
    display: inline-block;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
}


@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
}

.wave:hover {
    animation: waver 2.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: rotate( 0.0deg);
    backface-visibility: hidden;
    perspective: 1000px;
    animation-iteration-count: infinite;
  }
  
@keyframes waver {
  0%, 60%, 100%{
    transform: rotate(0.0deg);
  }

  10%, 30% {
    transform: rotate(14.0deg);
  }
  
  20% {
    transform: rotate(-8.0deg);
  }

  40% {
    transform: rotate(-4.0deg);
  }

  50%{
    transform: rotate(10.0deg);
  }
}