
$intro-color: #007390;
$name-color: #141e30;

*{
    font-family: Helvetica;
}

.intro-container{
    // position: absolute;
    padding: 8px;
    transform: translate(0px, 75%);
    bottom: 40%;
}


.intro{
    font-size: 35px;
    color: #80e5ff;
}

.name{
    font-size: 100px;
    line-height: 1.06;
    letter-spacing: -0.02em;
    color: $name-color;
    margin: 0px;
}

.job{
    color: #f59907;
    font-size: 48px;
    padding-left: 8px;
    padding-bottom: 16px;
    margin: 0px;
}

.summary{
    font-size: 20px;
    letter-spacing: -0.02em;
    line-height: 1.5;
    font-family:  -apple-system,BlinkMacSystemFont,monospace;
}

.summary-container{
    width: 632px;
    padding-left: 8px;
}

.wave { 
    transform-origin: 70% 70%;  
    display: inline-block;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
}


@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
}

.wave:hover {
    animation: waver 2.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: rotate( 0.0deg);
    backface-visibility: hidden;
    perspective: 1000px;
    animation-iteration-count: infinite;
  }
  
@keyframes waver {
  0%, 60%, 100%{
    transform: rotate(0.0deg);
  }

  10%, 30% {
    transform: rotate(14.0deg);
  }
  
  20% {
    transform: rotate(-8.0deg);
  }

  40% {
    transform: rotate(-4.0deg);
  }

  50%{
    transform: rotate(10.0deg);
  }
}